
<div class="formBox">
    <form class="form-horizontal" [formGroup]="signupForm" (ngSubmit)="onClickSubmit(signupForm.value)">
        <div class="col-sm-4 formLeft">
            <div class="form-group">
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">HotelName</span>
                        <input id="HotelName" name="HotelName" class="form-control" placeholder="HotelName" type="text" formControlName="HotelName" required>
                    </div>

                    <div *ngIf="signupForm.controls.HotelName.invalid && (signupForm.controls.HotelName.dirty || signupForm.controls.HotelName.touched)"
                         class="alert alert-danger">

                        <small *ngIf="signupForm.controls.HotelName.errors.required">
                            HotelName is required.
                        </small>
                        <small *ngIf="signupForm.controls.HotelName.errors.minlength">
                            HotelName must be at least 4 characters long.
                        </small>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">Country</span>
                        <input id="Country" name="Country" class="form-control" placeholder="Country" type="text" formControlName="Country" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">Region</span>
                        <input id="Region" name="Region" class="form-control" placeholder="Region" type="text" formControlName="Region" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">Country</span>
                        <input id="Price" name="Price" class="form-control" placeholder="Price" type="text" formControlName="Price" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">Country</span>
                        <input id="Price" name="Price" class="form-control" placeholder="Price" type="text" formControlName="Price" required>
                    </div>
                </div>
            </div>
        </div>

        <input type="file" #fileInput placeholder="Upload file..." (change) ="onFileSelected($event)"/>
        <button type="button" (click)="uploadFile()">upload</button>

        <!--<div class="form-group">
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon">Image</span>
                    <input id="Image" name="Image" class="form-control" placeholder="Image" type="file" formControlName="Image"  required>
                </div>
            </div>
        </div>-->


        <div class="form-group">
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon">Date</span>
                    <input id="Date" name="Date" class="form-control" placeholder="Date" type="datetime-local" formControlName="Date" required>
                </div>
            </div>
        </div>

        <div class="form-group" formArrayName="Assets">
            <div *ngFor="let Assets of signupForm.controls.Assets.controls; let i=index">
                <!-- address header, show remove button when more than one address available -->
                <div>
                    <span *ngIf="signupForm.controls.Assets.controls.length > 1" (click)="removeAssets(i)">
                    </span>
                </div>

                <div class="form-group" [formGroupName]="i">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Asset {{i}}</span>
                            <input id="Asset" name="Asset" class="form-control" placeholder="Asset" type="text" formControlName="Asset" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-offset-2 col-xs-10">
                <span type="button" class="btn btn-link" (click)="addAssets()">AddAssets</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary" >Add</button>
            </div>
        </div>
    </form>
</div>
<div class="formBox"></div>
<trip></trip>
