.formBox {
    margin-top: 10px;
    box-shadow: 0 13px 10px -8px gray;
}

.formBox:first-child{
    margin-top: 10px;
}


.formLeft{
    float:left;
}

.alert {
    margin: 0px;
    padding: 2px;
    padding-left:5px;
}